* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

body {
    overflow: hidden;
    background-color: #f7eace;
    transition: 1s ease-in-out;
}

.container {
    width: 100%;
    height: 100%;

    display: block;
    position: absolute;

    z-index: 10;
}

/* .header {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    width: 100vw;
    height: 5vh;

    padding: 1vh;
    margin: auto;
} */

.counter {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row wrap;

    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 90vh;

    padding: 1vh;
    margin: auto;
}

#counter_number {
    flex: 100%;
    align-self: flex-end;

    width: auto;
    height: auto;

    font-size: 12vw;
    font-family: 'MuseoModerno', cursive;
    font-weight: 690;

    padding: 0;
    margin: 0;

    text-align: center;
    vertical-align: bottom;

    color: #0e113f;
    transition: 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

#label {
    flex: 100%;
    align-self: flex-start;

    width: auto;
    height: auto;

    /* transform: translateY(-2vw); */
    font-size: 2vw;

    text-align: center;
    vertical-align: top;

    color: #0e113f;
    transition: 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.footer {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    width: 100vw;
    height: 10vh;

    padding: 1vh;
    margin: auto;
}

.button {
    position: absolute;

    height: 6vh;
    width: auto;

    margin: 1vh 2vh 1vh 2vh;
    padding: 1vh 2vh 1vh 2vh;

    font-size: 1.5vh;

    background-color: #0e113f;
    color: white;
    border-color: transparent;
    border-radius: 50px;
    border-width: 3px;

    transition-duration: 0.5s;
}


.button:hover {
    background-color: transparent;

    color: #0e113f;
    border-color: #0e113f;

    cursor: pointer;

    transition-duration: 0.5s;
}